div#container.albums_index
  h1
    margin-left: 105px
    font-size: 35px
  table
    font-size: 25px
    table-layout: fixed
    td div.no_overflow
      height: 34px
      overflow: hidden

    col.option
      width: 105px
    col.artist
      width: 200px


    input.favourite_toggle
      vertical-align: middle
    a
      text-decoration: none
      &:visited
        color: blue

