@import "colors.sass"
#home_nav
  background:
    repeat: repeat-x
    image:  url(../images/nav-background-homepage.jpg)
  height: 34px

  div#container
    position: relative
    #logo
      position: absolute
      top: 5px
      left: 10px
      h1
        margin: 0px
        font-size: 16px
        a

          text-decoration: none
          color: white
          &:visited
            color:white

    #user_nav
      position: absolute
      right: 10px
      top: 5px


      #auth_and_reg

        *
          color: white
          font-size: 16px
          font-weight: bold
        a
          text-decoration: none
          &:visited
            color: white
        span#tune_out
          color: A0A0A0
          font-style: italic
          font-weight: normal




#site_nav
  background:
    repeat: repeat-x
    image:  url(../images/nav-background.jpg)
  height: 80px
  padding: 1px

  div#container
    position: relative


  #logo
    position: absolute
    top: 16px
    left: 10px

    h1
      margin: 0px
      a
        text-decoration: none
        color: white
        &:visited
          color:white
  #user_nav
    position: relative
    right: 0px

    #auth_and_reg
      position: absolute
      top: 30px
      right: 455px

      *
        color: white
        font-size: 16px
        font-weight: bold
      a
        text-decoration: none
        &:visited
          color: white
      span#tune_out
        color: A0A0A0
        font-style: italic
        font-weight: normal




    form
      background: url('../images/searchbar.png') no-repeat 0 0
      position: relative
      top: 13px
      right: 10px
      margin: 0
      width: 423px
      height: 50px

      input[type=text]
        position: aboslute
        background: 0 none
        left: 0px
        top: 10px
        padding: 0px 10px
        color: $field_text
        border: 0 none
        margin: 0px
        width: 300px
        height: 50px
        font-size: 18px
        &:focus
          outline: none

      input[type=submit]
        position: absolute
        top: 0px
        right: 0px
        background: 0 none
        padding: 0
        margin: 0
        width: 98px
        height: 50px
        border: none
        cursor: pointer



