#albums.container {
  min-height: 100%;
  height: 100%;
  background-color: #dee5fa;
  padding: 1px; }
  #albums.container ul {
    font-size: 25px;
    padding: 0px; }
    #albums.container ul li {
      width: 100%;
      height: 34px;
      margin-bottom: 10px;
      clear: both; }
      #albums.container ul li * {
        float: left; }
      #albums.container ul li div.no_overflow {
        overflow: hidden;
        white-space: nowrap; }
      #albums.container ul li .option {
        margin-right: 20px; }
        #albums.container ul li .option input.favourite_toggle {
          width: 60px;
          margin-top: 5px;
          vertical-align: middle;
          align: left; }
      #albums.container ul li .artist {
        width: 250px;
        margin-right: 20px; }
      #albums.container ul li .title {
        width: 500px; }
        #albums.container ul li .title a {
          text-decoration: none; }
          #albums.container ul li .title a:visited {
            color: blue; }
