#background.player {
  background: #dee5fa;
  padding: 1px; }

#container.player {
  width: 900px;
  margin: 30px auto; }

.panel_header {
  background: black; }

#track_recommendations {
  border: 1px solid #cfcfcf;
  margin-top: 35px;
  width: 230px; }
  #track_recommendations .panel_header {
    padding: 6px 11px; }
    #track_recommendations .panel_header .search_results_title {
      color: white;
      font-size: 14px;
      font-weight: bold;
      margin: 0px; }
  #track_recommendations .video_info_box {
    margin-top: 15px;
    height: 95px; }
    #track_recommendations .video_info_box .thumbnail {
      width: 60px;
      height: 50px;
      padding: 3px;
      border: 1px solid #bfbfbf;
      margin-right: 10px; }
    #track_recommendations .video_info_box .info {
      width: 120px; }
      #track_recommendations .video_info_box .info h4 {
        margin: 0 0 5px; }
        #track_recommendations .video_info_box .info h4 a {
          text-decoration: none;
          font-size: 14px;
          font-weight: normal; }
      #track_recommendations .video_info_box .info p {
        margin: 0;
        font-size: 13px; }
  #track_recommendations .panel_content {
    background: white;
    padding: 1px 15px 20px; }

#track_info_panel {
  width: 650px;
  /* get rid of the dotted outline on button presses for firefos */ }
  #track_info_panel h1.album_name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
    #track_info_panel h1.album_name #favourite {
      margin-right: 10px; }
      #track_info_panel h1.album_name #favourite * {
        display: inline; }
  #track_info_panel input.favourite_toggle::-moz-focus-inner {
    border: 1px dotted transparent; }
  #track_info_panel input.favourite_toggle {
    border: none;
    font-size: 16px;
    height: 37px;
    width: 87px; }
    #track_info_panel input.favourite_toggle.like {
      color: gray;
      background-color: transparent;
      background-image: url(../images/like.png);
      background-repeat: no-repeat; }
      #track_info_panel input.favourite_toggle.like:hover {
        color: white; }
    #track_info_panel input.favourite_toggle.liked {
      color: white;
      background-color: transparent;
      background-image: url(../images/liked.png);
      background-repeat: no-repeat; }
  #track_info_panel .panel_header {
    padding: 8px 15px;
    height: 46px;
    background-image: url(../images/album-header-background.jpg);
    background-repeat: repeat-x; }
    #track_info_panel .panel_header .album_name {
      color: white;
      font-size: 18px;
      font-weight: bold;
      margin-top: 4px; }
  #track_info_panel .panel_content {
    background: white;
    padding: 1px 15px 20px; }
  #track_info_panel #player_box {
    width: 600px;
    height: 450px;
    padding: 10px;
    border: 1px #d1d6df solid;
    margin: 30px auto 20px;
    background: #eff5ff;
    display: block; }
  #track_info_panel #track_listing li {
    margin-bottom: 3px;
    background: #5fa6d2; }
    #track_info_panel #track_listing li * {
      color: white; }
    #track_info_panel #track_listing li a {
      margin-left: 15px;
      text-decoration: none;
      font-weight: bold;
      display: block;
      padding: 8px 0px; }
  #track_info_panel #track_listing li.current_track {
    background: #6cce46; }
  #track_info_panel #unplayable_title {
    font-size: 13px;
    margin: 20px 15px 10px;
    color: #555555; }
  #track_info_panel #unplayable li {
    background: #cddbe7;
    margin-bottom: 3px; }
    #track_info_panel #unplayable li a, #track_info_panel #unplayable li span {
      color: #8a8a8a; }
    #track_info_panel #unplayable li a {
      margin-left: 15px;
      text-decoration: none;
      font-weight: bold;
      display: block;
      padding: 8px 0px; }

.m_top_rounded_corners {
  -moz-border-radius: 13px 13px 0 0;
  -webkit-border-radius: 13px 13px 0 0;
  -khtml-border-radius: 13px 13px 0 0;
  border-radius: 13px 13px 0 0; }

.m_bottom_rounded_corners {
  -moz-border-radius: 0 0 13px 13px;
  -webkit-border-radius: 0 0 13px 13px;
  -khtml-border-radius: 0 0 13px 13px;
  border-radius: 0 0 13px 13px; }

.m_rounded_corners {
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  -khtml-border-radius: 13px;
  border-radius: 13px; }

.s_top_rounded_corners {
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
  -khtml-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0; }

.s_bottom_rounded_corners {
  -moz-border-radius: 0 0 8px 8px;
  -webkit-border-radius: 0 0 8px 8px;
  -khtml-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px; }

.s_rounded_corners {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px; }

.box_shadow {
  -moz-box-shadow: 5px 5px 10px #777777;
  -webkit-box-shadow: 5px 5px 10px #777777;
  box-shadow: 5px 5px 10px #777777; }

div#live_search_results {
  margin: 40px 0 0 20px; }

div.result_box {
  margin-bottom: 25px; }
  div.result_box h2 {
    font-size: 35px;
    margin: 0px 0 8px; }
  div.result_box div.name {
    margin-bottom: 8px;
    font-size: 18px; }
    div.result_box div.name a {
      text-decoration: none; }
      div.result_box div.name a:visited {
        color: blue; }

div.name {
  width: 500px; }

@impport "favourite_albums.sass";
#home_nav {
  background-repeat: repeat-x;
  background-image: url(../images/nav-background-homepage.jpg);
  height: 34px; }
  #home_nav div#container {
    position: relative; }
    #home_nav div#container #user_nav {
      position: absolute;
      right: 10px;
      top: 5px; }
      #home_nav div#container #user_nav #auth_and_reg * {
        color: white;
        font-size: 16px;
        font-weight: bold; }
      #home_nav div#container #user_nav #auth_and_reg a {
        text-decoration: none; }
        #home_nav div#container #user_nav #auth_and_reg a:visited {
          color: white; }
      #home_nav div#container #user_nav #auth_and_reg span#tune_out {
        color: A0A0A0;
        font-style: italic;
        font-weight: normal; }

#site_nav {
  background-repeat: repeat-x;
  background-image: url(../images/nav-background.jpg);
  height: 80px;
  padding: 1px; }
  #site_nav div#container {
    position: relative; }
  #site_nav #logo {
    position: absolute;
    top: 16px;
    left: 10px; }
    #site_nav #logo h1 {
      margin: 0px; }
      #site_nav #logo h1 a {
        text-decoration: none;
        color: white; }
  #site_nav #user_nav {
    position: relative;
    right: 0px; }
    #site_nav #user_nav #auth_and_reg {
      position: absolute;
      top: 30px;
      right: 455px; }
      #site_nav #user_nav #auth_and_reg * {
        color: white;
        font-size: 16px;
        font-weight: bold; }
      #site_nav #user_nav #auth_and_reg a {
        text-decoration: none; }
        #site_nav #user_nav #auth_and_reg a:visited {
          color: white; }
      #site_nav #user_nav #auth_and_reg span#tune_out {
        color: A0A0A0;
        font-style: italic;
        font-weight: normal; }
    #site_nav #user_nav form {
      background: url("../images/searchbar.png") no-repeat 0 0;
      position: relative;
      top: 13px;
      right: 10px;
      margin: 0;
      width: 423px;
      height: 50px; }
      #site_nav #user_nav form input[type=text] {
        position: aboslute;
        background: 0 none;
        left: 0px;
        top: 10px;
        padding: 0px 10px;
        color: #7e8989;
        border: 0 none;
        margin: 0px;
        width: 300px;
        height: 50px;
        font-size: 18px; }
        #site_nav #user_nav form input[type=text]:focus {
          outline: none; }
      #site_nav #user_nav form input[type=submit] {
        position: absolute;
        top: 0px;
        right: 0px;
        background: 0 none;
        padding: 0;
        margin: 0;
        width: 98px;
        height: 50px;
        border: none;
        cursor: pointer; }

#container.search.index {
  width: 960px;
  margin: auto;
  position: relative;
  background: white; }
  #container.search.index div {
    position: relative;
    top: 250px;
    width: 645px;
    margin: 0 auto; }
    #container.search.index div h1#logo {
      position: relative;
      margin: 0 0 3px 0;
      padding: 0; }
      #container.search.index div h1#logo img {
        border: none; }
    #container.search.index div #search_form {
      position: relative;
      background: url("../images/search-form-homepage.png") no-repeat transparent 0 0;
      width: 645px;
      height: 86px;
      padding: 0; }
      #container.search.index div #search_form input[type=text] {
        position: absolute;
        left: 27px;
        top: 19px;
        width: 585px;
        height: 41px;
        border: none;
        font-size: 20px;
        outline-width: 0px;
        color: #384461; }
      #container.search.index div #search_form input[type=submit] {
        outline: none;
        -moz-outline-style: 0;
        background: none;
        border: none;
        display: none; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, Tahoma, sans-serif;
  color: #4F4F4F; }

ul, body, div {
  padding: 0;
  margin: 0; }

.fixed_width {
  width: 960px;
  margin: auto; }

.title {
  color: #1F1F1F; }

.left {
  float: left; }

.right {
  float: right; }

.clear {
  clear: both; }

ul.no_style {
  list-style-type: none;
  list-style-position: inside; }

ul.horizontal li {
  display: block;
  float: left; }

.dgblue {
  border: 1px solid blue; }

.dgred {
  border: 1px solid red; }
