%div#home_nav
  %div#container.fixed_width
    %div#user_nav
      %div#auth_and_reg
        - if user_signed_in?
          = link_to "Favourites", user_albums_path(current_user)
          %span
            |
          = link_to "Sign out", destroy_user_session_path
        - else
          = link_to "Sign up", new_user_registration_path
          %span
            |
          = link_to "Sign in", new_user_session_path
          %span
            |
          %span#tune_out
            Tune out
